@import "tailwindcss";

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
  @media (width >= 40rem) {
    padding: 0 6rem;
  }
}
@utility container-range {
  margin: 0 auto;
  padding: 0;
  @media (width >= 40rem) {
    padding: 0;
  }
}

.font-sans {
  font-family: "Lora", "Aria", sans-serif;
}
.font-mono {
  font-family: "Special Elite";
}

.animaBottom {
  animation: animaBottom 1.5s forwards;
}
.animaLeft {
  animation: animaLeft 3s forwards;
}
.animaRight {
  animation: animaRight 3s forwards;
}

@keyframes animaBottom {
  from {
    opacity: 0;
    transform: translate(0px, 20px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes animaLeft {
  from {
    opacity: 0;
    transform: translate(-20px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes animaRight {
  from {
    opacity: 0;
    transform: translate(20px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
